.site-container {
  display: block;
  margin: 0;
  min-height: 100vh;
}
i.fas,
i.fas:before {
  display: block
}

.local-fr {
  position: relative;
  display: flex;
  align-items: center;
}

#searchBar{
  margin-left: auto;
  padding-right: 15%
}

input[type="text"] {  
  border: none;
  border-bottom: 1px solid grey;
}
.accueil-local-fr {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 1%;
  border-right: 1px solid grey
}
.accueil-local-en {
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
  display: flex;
  align-items: center;
}

.right-header > *:not(:first-child) {
  border-left: solid gray 1px;
}

.radio {
  width: 100%;
  text-align: left;
  padding-left: 25%;
}

.label-radio {
  padding-left: 7%;
}

.local-en {
  padding-left: 2%;
  position: relative;
  display: flex;
  align-items: center;
}

.site-pusher {
  margin: 0;
  height: 100vh;
}

.fal {
  font-size: 150%;
  text-align: center;
  padding-right: 2%;
  color: black;
}

@font-face {
  font-family: "Gothambook";
  src: url("image/GothamBook.ttf");
}

@font-face {
  font-family: "fairyPlay";
  src: url("image/PlayfairDisplay-Italic.ttf");
}

.containter-header {
  font-family: "fairyPlay";
}

h3 {
  font-family: "Gothambook";
  text-transform: uppercase;
}

.fas {
  font-size: 200%;
  text-align: center;
  vertical-align: middle;
  padding-right: 2%;
  padding-left: 50%;
  color: black;
  font-weight: 300;
}

.left-content {
  width: 50%;
  min-height: 80vh;
}

.wine-detail {
  display: flex;
  margin: 0;
  height: 89vh;
}

img {
  border-style: none;
  height: 3vh;
}

.img-wine {
  width: 100%;
  height: 100%;
}

.right-content {
  height: 100%;
  width: 50%;
  margin-left: 3%;
  overflow: auto;
}

.local-en {
  padding-left: 2%;
  width: 5%;
  height: 5%;
  position: relative;
  float: right;
}

.right-header {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2%;
}

.left-header {
  display: flex;
  align-items: center;
}

.logo {
  width: 75%;
  height: 75%;
  position: relative;
  float: right;
  margin-right: 10%;
}

.search {
  position: relative;
  float: right;
  margin-left: auto;
  padding-right: 2%;
}

.right-header > *:not(:first-child):not(:last-child) {
  padding-left: 2%;
  padding-right: 2%;
}

.right-header > *:not(:first-child) {
  border-left: solid gray 1px;
}

#header__icon {
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background: white;
  border-bottom: #ffce37 solid 3px;
  height: 10vh;
}

.container {
  justify-content: space-between;
  display: flex;
  height: 89vh;
}


.container-accueil {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100%;
}

.menu-filtre {
  position: relative;
  display: block;
}

.left-containter {
  height: 89vh;
  width: 30%;
  background: white;
  overflow: auto;
}

.filtre {
  display: block;
}

.right-filter {
  position: relative;
  float: right;
  width: 10%;
}

.left-filter {
  text-align: left;
  padding-left: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  border-bottom: grey solid 1px;
}

.left-filter-detail {
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  border-bottom: grey solid 1px;
}

.main-right-filter {
  position: relative;
  float: right;
}

.fa-angle-right,
.fa-angle-down {
  position: relative;
  float: right;
  text-align: right;
  padding-right: 5%;
}

.main-filtre {
  background-color: #ffce37;
  color: white;
}

.main-left-filter {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 90%;
}

#slider-range {
  width: 80%;
  align-items: center;
}

.domaine-cb {
  text-align: left;
  padding-left: 2%;
}

.active {
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffce37;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffce37;
  cursor: pointer;
}

.site-content {
  background: #f9f8f3;
}

.right-containter {
  position: relative;
  float: right;
  width: 65%;
  overflow: auto;
}

.vin {
  display: block;
  padding-bottom: 1%;
  font-family: "Gothambook";
  padding-bottom: 2%;
  height: 50px;
}

.nom-vin {
  display: inline-flex;
  width: 75%;
  text-align: left;
  height: 50 px;
}

.annee-vin {
  display: inline-flex;
  width: 10%;
  text-align: right;
  color: grey;
  border-right: gray solid 1px;
}

.prix-verre {
  display: inline-flex;
  width: 10%;
  text-align: right;
  margin-left: 3%;
}

body {
  background: #f9f8f3;
  min-height: 100vh;
  font-family: 'Gothambook';
}

#degustation {
  width: 80%;
  height: 100%;
}

.header-filter-detail {
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
}

.contenance {
  display: flex;
  justify-content: space-between;
}

.contenances{
  color: grey;
  font-size: 0.8em
}

.prix{
  font-size: 1.2em;
  font-weight: 400;
}

#bar {
  height: 100%;
  width: 100%;
}

.right-image {
  display: flex;
  width: 50%;
  height: 100%;
}

.suite-vin > h3 {
  visibility: hidden;
}

.left-containter-flip {
  width: 75%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 2%;
  overflow: auto;
}

#millesime {
  border: none;
  border-bottom: 1px grey solid;
}

*:focus {
  outline: none;
}

.left-content-image-header {
  text-align: center;
  align-items: center;
  height: 25%;
  
  display: flex;
  flex-direction: column;
}

.name-vin {
  text-align: center;
  align-items: center;
  font-family: "fairyPlay";
  margin: 0px;
  padding-top: 15%;
  font-size: 1.5em;
  width: 75%;
}

.domaine-vin {
  text-align: center;
  align-items: center;
}

.left-content-image {
  height: 75%;
}

.left-content-detail {
  width: 50%;
  height: 100%;
  background: linear-gradient(#fbf1d2, #faf9f6, #fafafa, #faf9f4);
  vertical-align: middle;
}

.right-content-detail {
  height: 100%;
  width: 50%;
  padding-left: 3%;
  background: #ffffff;
  overflow: auto;
}

.overflow-rcd {
  overflow: auto;
}

.back {
  font-size: 1em;
  font-family: "Gothambook";
  padding-top: 5%
}

.region-couleur {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 2%;
}

.detail {
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
}

.contenances-block {
  display: inline-block;
  padding-bottom: 3%;
}


.accueil-header{
  display: flex;
  width: 100%;
  height: 5%;
  align-items: center;
  text-align: -webkit-match-parent;
  justify-content: flex-end;
}

.header-accueil{  
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-accueil{
  height: auto;
}

.site-content-accueil{
  width: 100%;
  height: 80%;
}

.left-content-accueil{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2.5%;
  box-sizing: border-box;
  width: 50%;
}

.right-content-accueil{
  width: 50%;
  height: 100%;
}

.left-img-accueil{
  height: 60%;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-top: auto;
}

.header-wine-card{
  width: 70%;
  display: flex;
  height: 20%;
  background: #fff;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.discover{
  
  font-size: 1.2em;
  text-align: center;
  color: #cea77b;
  font-weight: 200;
  margin-bottom: 0px;
}

.accueil-img-left{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wine-card{
  font-family: "fairyPlay";
  font-weight: 200
}

*{
  box-flex: 0px;
  box-sizing: border-box;
}

.right-img-accueil{
  height: 60%;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-top: auto;
}

.right-content-accueil{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 2.5%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

.img-cont{
  width: auto
}

.lca-link{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2.5%;
  box-sizing: border-box;
  height: 100%;
}

.rca-link{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 2.5%;
  box-sizing: border-box;
  height: 100%;
}

#flipbook{
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.suite-vin{
  width: 50%;
  padding-top: 10%;
}

.suite-vin > .vin > .annee-vin{
  width: auto;
  padding-right: 5%;

}
.suite-vin > .vin > .prix-verre{
  width: auto;padding-left: 2%;
}

section .hooper{
  height: 100%;
}